APP_PORT=8080
APP_ENV=local
ALLOWED_ORIGINS=http://localhost:3000

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=sister
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

NOTIFICATION_ENABLED=true
NOTIFICATION_PROVIDER=slack
NOTIFICATION_WEBHOOK_URL=slach_webhook_url

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=